/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
	font-family: 'brightwall';
	src: url(../src/assets/fonts/Brightwall.ttf) format('truetype');
	font-weight: 100;
  }

.font-brightwall {
	font-family: 'brightwall', sans-serif;
	}

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color */
.text-brown {
	color: #492C0E;
}

/* scroll button on Home page*/
a#scroll-btn {
	position: absolute;
	height: 30px;
	width: 20px;
	border: 1px solid #492C0E;;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 10px;
	border-radius: 3em;
}
a#scroll-btn:before{
	position: absolute;
	content: "";
	margin: auto;
	left: 0;
	right: 0;
	top: 3px;
	height: 5px;
	width: 5px;
	background-color: #492C0E;;
	border-radius: 50%;
	animation: move-down 2.5s infinite;
}

@keyframes move-down {
	80% {
		opacity: 0.5;
	}
	100% {
		transform: translateY(18px);
		opacity: 0;
	}
}
a#scroll-btn:after {
	position: absolute;
	content: "";
	width: 9em;
	display: block;
	text-align: center;
	left: -4.2em;
	bottom: -2.5em;
	font-size: .75rem;
	color: black;
	letter-spacing: 1px;
	font-weight: 100;
}

svg {
	fill: red;
}
.blush {
	width: 100px;
	position: absolute;
	top: 200px;
	left: 200px;
}
.box1 {
	width: fit-content;
    padding: 0 1rem 1rem 1rem;
    background: rgb(250,250,250);
	background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 50%, rgb(194, 161, 202) 97%, rgb(212, 170, 222) 100%);
    color: #FFF;
	border-radius: 5px;
	box-shadow: 0 3px 6px #d4d4d4;
	margin: 0 auto;
}
.box1:hover{
	background: rgb(250,250,250);
	background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 50%, rgb(194, 161, 202) 97%, rgb(212, 170, 222) 100%);
}
.box2 {
    background: white;
	border-radius: 5px;
	box-shadow: 0 3px 6px #d4d4d4;
}
.box-3 {
	width: fit-content;
    background: rgb(163,163,163);
	background: linear-gradient(180deg, rgba(163,163,163,1) 0%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 100%);
    color: #FFF;
	border-radius: 5px;
	box-shadow: 0 3px 6px #d4d4d4;
	transition: 0.3s;
}
.box-3:hover{
	background: rgb(163,163,163);
	background: linear-gradient(0deg, rgba(163,163,163,1) 0%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 100%);
}
.box4 {
	width: fit-content;
    background: white;
	border-radius: 5px;
	box-shadow: 0 3px 6px #d4d4d4;
}
.btn-yellow {
	width: fit-content;
	padding: 5px 15px;
	text-align: center;
	border-radius: 20px;
	background-color: #EDE795;
	margin: 1rem auto;
	transition: 0.3s;
}
.btn-yellow:hover{
	background-color: #94B98E;
}
.btn-white {
	width: fit-content;
	padding: 5px 15px;
	margin: 0 auto;
	text-align: center;
	border-radius: 20px;
	background-color: white;
	transition: 0.3s;
}
.btn-white:hover{
	background-color: #94B98E;
}
/* Swiper */
.swiper {
	z-index: 0;
}
.swiper-button-next, .swiper-button-prev {
	color: #91AA65;
}
.swiper-pagination-bullet-active {
	background-color: #91AA65!important;
}

/* Hamburger menu on MenuMobile.jsx*/
.circle {
	background-color: #94B98E;
	border-radius: 100%;
	width: 70px;
	text-align: center;
	margin-bottom: 2.5rem;
}

/* Accordion on Work.jsx */

.accordion-button {
	font-size: 1.5rem;
	color: #492C0E;
}
.accordion-button:not(.collapsed) {
	background-color: #94B98E;
}
.accordion-button:focus {
	box-shadow: #093c02;
}

@media only screen and (max-width: 1024px) {
	.accordion-button {
		font-size: 1rem;
	}
}
/* Toolkit */
.button {
	width: 7rem;
	border-radius: 4px;
  	background-color: #492C0E;
  	color: rgb(250 250 250);
	text-transform: capitalize;
	margin: .25rem;
	padding: 1px; 
}
.toolkit-container .button.active {
  	background-color: #EDE795!important;
  	color: #492C0E!important;
}
  
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	color: #492C0E;
	margin: 0;
	background-color: #F6F4F7;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 1.5rem;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	/* -webkit-appearance: button; */
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	/* color: #404040; */
	font-family: 'popins', sans-serif;
	font-size: 18px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2
 {
	font-family: 'Maitree', sans-serif;
	clear: both;
	font-size: 1.5rem;
}
h3,
h4,
h5,
h6{
	font-size: 1.25rem;
}

.site-header {
	padding: 0 1.25rem;
}

p.site-title {
	margin: .625rem 0;
}

p.site-title a {
	color: black;
	text-decoration: none;
}

p {
	margin: 0 0 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

@media (min-width:768px) {
    body {
        font-size: 1.125rem;
    }
	h1 {
		font-size: 2rem;
	}
}
@media (min-width:1024px) {
    body {
        font-size: 1.188rem;
    }
}
@media (min-width:1280px) {
    body {
        font-size: 1.25rem;
    }
	h1 {

	}
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	background-color: #815d8910;
	/* background-color: #815D89; */
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	/* background: #4a4a4a; */
	 /* Fallback for when there is no custom background color defined. */
	min-height: 100vh
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
	padding: 0;
}

p + ul,
p + ol {
	margin: -1em 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: hsl(197, 100%, 36%);
}

a:visited {
	color: #492C0E;
}

/* 
a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.loading {
    display: block;
	margin: 0 auto;
}
main {
	margin-top: 70px;
}

#main article {
	margin-bottom: 1rem;
}

.site-navigation ul {
	list-style: none;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.mobile-nav ul {
	list-style: none;
	margin: 0 auto;
	left: 50%;
	display: flex;
	/* justify-content: space-between; */
	width: 80%;
	transform: translate(-50%, -50%);

}

.site-navigation a,
.mobile-nav a {
	display: block;
	padding: 1rem;
	text-decoration: none;
}
.mobile-nav a{
	padding-bottom: 0;
}
.mobile-nav p{
	margin-left: 0;
}

.site-navigation a.active {
	color: #4C7C41;
}

.mobile-nav a.active{
	color: #2E407A;
}

footer {
	padding: 1.25rem;
	/* background-color: #eee; */
}

footer p {
	margin: 0;
}

.copyright {
	font-size: .875rem;
	text-align: center;
}
